<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/téléchargement.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
        <span class="navbar-brand mx-2 p-4 fw-bold" href="#">Prodact</span>
      </a>
    </div>
  
    <div class="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-4">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown-menu">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link</a></li>
                <li><a class="dropdown-item" href="#">Another link</a></li>
                <li><a class="dropdown-item" href="#">A third link</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>